#root {
  margin: 0;
}

.page-root {
  height: 100vh;
  width: 100vw;
  position:fixed;
}

.nav-bar {
  height: 10%;
  border: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px lightgrey;
  box-shadow: 10px;
}
.logo-container {
  height: 100%;
  width: 20vw;
  display: flex;
  justify-content: center;
  background-color: white;
}

.logo-container img{
  background-color: white;
  color: white;
}

.search-container{
  padding-right: 100px;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 90%
}


.search-results {
  overflow-y:auto;
  width: 1000%;
}

.crag-card {
  margin: 2rem;
  padding: 4px;
}

.grade-slider-value{
  padding-bottom: 50px;
}
.drive-slider-value{
  padding-bottom: 50px;
}

