.weather-container {
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.sunrise-sunset-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 1rem;
}

.weather-icon-container {
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.temperature-wind-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  gap: 1rem;
}
